@import "../Utils/variables";


.reservation{
    & a{
        text-decoration: none;
        color: white;
    }
    &--btn{
        color: white;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
        width: 218px;
        height: 32px;
        border-radius: 25px;
        background-image: linear-gradient(to right bottom, #ff79da, #e86edb, 25%, #cf64dc, #b35cdc, #9356dc);
        -webkit-box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55); 
        box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55);
        transition: box-shadow 200ms;
        
        &:hover{
            opacity: 0.96;
            -webkit-box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.95); 
            box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.95);
        }
        }
    }


        .menu--btn{
            color: white;
            margin-left: 25%;
            margin-right: 20%;
            padding-top: 15px;
            height: 35px;
            width: 188px;
            border-radius: 45px;
            text-align: center;
            background-image: linear-gradient(to right bottom, #ff79da, #e86edb, 25%, #cf64dc, #b35cdc, #9356dc);
            -webkit-box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55); 
            box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.55);
            transition: box-shadow 200ms;
            &:hover{
                opacity: 0.96;
                -webkit-box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.95); 
                box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.95);
            }
            }







.fa-heart {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding:.2em;
    &::after{
        content:"\f004";
        font-weight: bold;
        color: $primary-color;
        position: absolute;
        top: 5px;
        opacity: 0;
            right: 5px;
            transition: opacity 600ms;
    }
    &:hover::after{
            opacity: 1;
    }
}


.menu-heart{
    background-color: #f7f7f7f7;
    &::after{
        position: relative;
        right: 22px;
        top: 0px;
    }
}