.footer{
    background-color: #353535;
    color: white;
    position: absolute;
    width: 100%;
    &--title{
        @include title-font;
        font-weight: normal;
        padding-left: 10%;
        padding-top: 26px;
        font-size: 18px;
    }
    & ul{
        list-style-type: none;
        font-weight: normal;
        font-size: 14px;
        & li{
            margin-bottom: 15px;
            & a{
                color: white;
                text-decoration: none;
            }
        }
        & i{
            padding-right: 3%;
            font-size: 14px;
        }
    }
    
}