.header_home{
    height: 161px;
    &--logo{
        position: relative;
        height: 72px;
        top: 56px;
        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;        
    }
    &--arrow{
        display: none;
    }
}
