.header_home{
    height: 62px;
    &--logo{
        position: relative;
        height: 32px;
        top: 20px;
        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;    
        width: 42%;    
        
    }
    &--arrow{
        display: none;
    }
}
